.tabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: var(--spacing-16);
  cursor: pointer;
  border: none;
  background: none;
  font-size: var(--fs-16);

  font-family: var(--ff);
  &.active {
    border-bottom: 2px solid #007bff;
    font-weight: bold;
  }
}

.tabContent {
  display: none;
  padding: 20px;
  flex: 1;
  &.active {
    display: block;
  }
}
