.sidebar {
  background-color: var(--color-gray-0);
  border-right: 1px solid var(--color-gray-200);
  padding: 0 var(--spacing-16);
}

.sidebarTitle {
  font-size: var(--fs-20);
  position: sticky;
  top: 68px;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  position: sticky;
  top: 109px;
}

.filterTitle {
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  margin-bottom: var(--spacing-8);
}

.filterOptions {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filteroption {
  border: 1px solid var(--border-color);
  padding: var(--spacing-8);
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  &:hover {
    border: 1px solid var(--color-primary);
  }
}

.clearButton {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: var(--fs-14);
  margin: var(--spacing-8) 0;
  padding: var(--spacing-8) 0;
  text-align: center;
  width: stretch;
}
