a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff);
}

p {
  font-size: var(--fs-16);
}

body {
  margin: 0;
}

.main {
  background: var(--light-background);
}

.mainContent {
  min-height: calc(100dvh - 240px);
  padding: 0 var(--spacing-16);
}

.resultContent {
  margin: auto;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  justify-content: flex-start;
  align-content: space-evenly;
}

.detail-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.detailImage img {
  max-width: 250px;
}

@media only screen and (max-width: 1200px) {
  .main-content {
    margin: 10px;
  }
}
