body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.topBar{
    margin-left:20px;
    margin-right:20px;
    margin-top:0;
    margin-bottom:0;
    padding-left:50px;
    background-color: white;
    font-size:15px;
    display:flex;
    justify-content: space-between;
}

.mainSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    /* justify-content: center; */
    padding:80px;
    border-top:solid 2px black;
}

.mainSection h1{
    margin:0;
    padding-bottom:10px;
    text-align: center;
}
.mainSection p{
    margin:0;
    font-size:1.7rem;
    padding-bottom:30px;
    text-align: center;
}

.mainContent {
    display: flex;
    justify-content: center;
}

.mainContent form {
    display: flex;
    gap: 10px;
    width:100%;
    flex-wrap: wrap;
}
/* 12em for 12 characters */
.mainContent input{
    padding:5px 10px;
    width:12em; 
    border-radius:10px;
    font-size:20px;
    background-color: #d9d9d9;
}

.mainContent button {
    padding: 10px 45px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size:1.8rem;
    border-radius:30px;
}

.bottomContent{
    margin-top:50px;
    margin-left:100px;
}
.bottomContent h1 {
    font-size: 5rem;
    margin:0;
}

.bottomContent p {
    font-size:2rem;
    padding-top:20px;
    margin:0;
}

.showsDisplayed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: dodgerblue; */
    /* padding: 10px; */
    width:80%;
    gap: 30px;
    margin: 10px auto; /* this centers the whole grid */
}



.individualShowDisplayed {
    /* background-color: #f1f1f1; */
    /* border: 1px solid black; */
    /* width:20%; */
    padding: 10px;
    font-size: 30px;
    text-align: left;
    max-width:250px;
}


.individualShowDisplayed >h5 {
    margin:0 auto;
}

.individualShowDisplayed >img {
    max-height: 280px;
}

.individualShowDisplayed small {
    /* margin:-40px; */
    font-size:0.9rem;
    color:rgb(116, 116, 116);
}

/* changes to 2 columns */
@media only screen and (max-width:1200px) {
    .showsDisplayed {grid-template-columns: repeat(2, 1fr)}    
}

/* changes to 1 column and centers items */
@media only screen and (max-width:700px) {
    .showsDisplayed {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* main content with search bar is aligned vertically and centered when screen gets smaller 
   also ensures that the shows displayed and text is centered when screen gets smaller
*/
@media only screen and (max-width: 600px) {
    .mainContent form{
        flex-direction: column;
        align-items:center;
    }
    .bottomContent {
        margin-left: 20px;
        margin-right: 20px;
        justify-items: center;
    }

    .bottomContent h1 {
        font-size: 2rem;
    }

    .bottomContent p {
        font-size: 1.2rem;
    }
}

.fetchingShowDisplay {
    display: flex;
    border-top: 3px solid black;
    justify-content: center;
}

.fetchingShowDisplay img{
    margin-top:20px;
    max-width:800px;
    max-height:600px;
}

.showDetailText {
    display: flex;
    flex-direction: column;
    max-width:900px;
    padding:0 40px;
    justify-content: center;
    font-size:1.2rem;
    margin: 0 0;
}

.showDetailText h1 {
    font-size: 3rem;
    padding:10px 0;
    margin: 0 0;
}

.showDetailText small {
    font-size:1.2rem;
    text-transform: uppercase;
}

.ratingFormat{
    margin:0 0;
    font-size:1.2rem;
    text-transform: uppercase;
}
.summaryFormat {
    font-size: 2rem;
    max-width:70%; /* was 600px before */ 
    width:100%;
    word-wrap:break-word;
    color: darkgrey;
    margin:20px 0;
}

.starringFormat {
    max-width:600px;
}

@media only screen and (max-width: 800px) {
    .fetchingShowDisplay {
        flex-direction: column;
        align-items: center;
    }
    .fetchingShowDisplay img {
        max-width: 100%;
        height: auto;
    }
    .showDetailText {
        max-width: 90%;
        padding: 10px;
        margin-top: 10px;
        flex-wrap: wrap;
        align-items: center;
        font-size:1rem;
    }

    .summaryFormat,
    .starringFormat {
        max-width: 100%;
        font-size:1.3rem;
    }
}
/* added these 2 queries as the text overflows when resizing - this was a quick fix */
@media only screen and (max-width:1200px) {

    .summaryFormat {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width:900px) {
    .fetchingShowDisplay{
        margin:20px;
    }
    .summaryFormat {
        font-size: 1.4rem;
    }
}
